.first-nav {
    text-align: right;
    padding: 5px;
    border: 1px solid #3366cc;
    margin: 50 50 0 50;
         }
         .first-href {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color:#000;
    text-decoration:none;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
     }
        .text1 {
    border: 1px solid #3366cc;
    margin: 0 50 0 50;
        }
        .portfolio {
    font-size: 20;
    text-align: center;
    padding: 250 100 250 100;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
    }
        .foot {
    background: #3366cc;
    border: 1px solid #3366cc;
    margin: 0 50 0 50; 
    padding:10 0 0 0;
    text-align: center;
    }
        .second-href {
    font-size: 20px;
    text-decoration:none;
    padding: 10;
    margin: 10;
    color: #FFFFFF;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
     }
        .text3 {
    font-size: 15px;
    text-align: right;
    color: #FFFFFF;
    margin: 10 10 0 10;
        }